.pager {
  display: flex;
}
.pager li a {
  display: block;
  padding: 10px 16px;
  line-height: normal;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s linear;
}
.pager li a:hover {
  background: #e8ebf1;
}
.pager li.current a {
  background: #2aacc8;
}
.pager li.disabled a {
  color: #ccc;
}
.pager li.disabled a:hover {
  cursor: not-allowed;
  background: transparent;
}