<header>
    <div class="admin_header">
        <a href="@(Url.RouteUrl("Admin_Dashboard"))" class="main_logo">
            <span class="body">@("Admin")</span>
            <span class="last_letter">@("Panel")</span>
        </a>
        <a class="admin_home" href="/" >Home</a>
    </div>
</header>
