.top_line {
  background: #e8ebf1;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(50, 50, 50, 0.9);
  z-index: 1;
}
.top_line.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}
.top_line_content {
  display: flex;
  align-items: center;
  height: 96px;
  transition: height .3s;
  padding: 0 10px;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.top_line_content--small {
  height: 60px;
}
.top_line_content--small .main_logo {
  font-size: 30px;
}
.main_logo {
  font-size: 50px;
  display: flex;
  transition: font-size 0.3s;
}
.main_logo .body {
  color: #333;
}
.main_logo .last_letter {
  color: #2aacc8;
}
.search_box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.close_search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  font-size: 20px;
}
.main_form_search {
  height: inherit;
}
.main_form_search .main_input_search {
  padding: 5px 60px 5px 30px;
  border: 0;
  width: 100%;
  height: inherit;
  font-size: 30px;
  font-weight: bold;
}
.main_form_search .main_input_search:focus {
  outline: none;
}
.top_nav_list {
  font-size: 14px;
  margin-left: auto;
  position: relative;
}
.top_nav_list.open .top_nav_item--absolute {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 100px;
  background: #fff;
  height: 40px;
}
.top_nav_list.open .top_nav_item--absolute a {
  height: 100%;
  width: 100%;
}
.top_nav_item {
  display: inline-block;
  color: #333;
  margin-right: 20px;
}
.top_nav_item :last-child {
  margin-right: 0;
}
.top_nav_item--button {
  transition: opacity .3s linear;
  opacity: 1;
}
.top_nav_item--absolute {
  display: none;
}
.open_search i.fa {
  font-size: 22px;
}
.sub_header {
  background: #333;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}
.sub_header__list {
  display: flex;
}
.sub_header__list li + li:before {
  content: '/';
  padding-left: 6px;
}
.sub_header__link {
  color: #ccc;
}
.sub_header__link.active {
  color: #777;
  cursor: text;
}