<template id="ToggleButton">
    <label>
        <input type="checkbox"  />
        <span class="icon"></span>
        <span class="title"></span>
    </label>
</template>
<script>
    (function() {
        'use strict';
        var toggleButtonOptions = {
        
        },
        componentDocument = document.currentScript.ownerDocument, 
        componentTemplate = componentDocument.querySelector("#ToggleButton");
        window.toggleButton = class toggleButton extends HTMLElement {
            constructor() {
                var shadowRoot;
                super();
                shadowRoot = this.attachShadow({
                    mode:'open'
                });
                shadowRoot.appendChild(document.importNode(componentTemplate.content));
            }
        };
    })();
</script>